/*
white letter rgb(224,227,227);    navbar rgb(224,227,227) 

main  background rgba(222,229,217,255),   dark background  rgba(232,229,215,255)

name title rgb(108,97,91); p color rgb(146,144,129)

*/


/*---------------share------------*/

body{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
}

.container{
	margin-left: 10%;
	margin-right: 10%;
	padding: 80px 0;
}

.small-container{
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px 0;
}

p{
	color: rgb(146,144,129);
}
.full-container{
	padding: 30px 0; 
}
.full-wrapper{
	padding: 40px 0 0 0;
	position: relative;
}

.half-wrapper{
	width: 50%;
	display: inline-block;
}

/*------------nav---------------*/
.container-nav{
	background: rgb(161,167,161);
	padding: 0 15px;
	margin: 0;
	position: fixed;
	top:0;
	left:0;
	right:0;
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	transition: all .8s;
}
/* when scrolled */
.container-nav-white{
	background: white !important;
	z-index: 2;
}

nav{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
#logo a{
	text-decoration: none;
	font-size: 20px;
	color: grey;
}

#header-nav li{
	display: inline-block;
}
#header-nav li a{
	text-decoration: none;
	padding: 0 10px;
	text-transform: capitalize;
	color: rgb(224,227,227);
}

#header-nav li a:hover{
	color: rgb(108,97,91);
}


/* transition */
#header-nav li a, #logo{
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

section{
	background: white;
}

/* ################  home section  ################*/

#home{
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: none;
}
#home .none{
	position: fixed;
	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(222,229,217,255), rgba(232,229,215,255));
	background: -webkit-linear-gradient(rgba(222,229,217,255), rgba(232,229,215,255));
	background: -moz-linear-gradient(rgba(222,229,217,255), rgba(232,229,215,255));
	display: table;
	z-index: -2;
}
#home .intro-container{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	z-index: -2;
}
#home h1{
	font-size: 3em;
	color: rgb(108,97,91);
	z-index: -2;
}
#home p{
	color: rgb(146,144,129);
	z-index: -2;
}

/* ################  about me section ################*/

#about .container{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.circle{
	background: rgb(224,227,227);
	border-radius: 50%;
	width: 100px;
	height: 100px;
	text-align: center;
	display: table;
}
.circle div{
	position: relative;
	display: table-cell;
	vertical-align: middle;
	color: rgb(108,97,91);
}
.circle h1 .circle h4{
	display: inline-block;
}
.circle h1{
	position: relative;
	right: 5px;
}
.circle h4{
	position: relative;
	left: 5px;
	bottom: 4px;
	line-height: 5px;
	color: rgb(146,144,129);
}

/* ################  Skill section ################*/


#skill .full-container{
	background: linear-gradient(rgba(200,229,217,255), rgba(232,229,215,255));
	background: -webkit-linear-gradient(rgba(200,229,217,255), rgba(232,229,215,255));
	background: -moz-linear-gradient(rgba(200,229,217,255), rgba(232,229,215,255));
	background-attachment: fixed;
}
.line{
	text-align: center;
	margin: 0;
	padding: 0;
	color: rgb(108,97,91);
	position: relative;
	bottom: 10px;
}
.line h4{
	margin: 0 0 30px 0;
	padding: 0;
	position: relative;
	display: inline-block;
	left: 10px;
}

#skill .small-container{
	text-align: center;
}
#skill li{
	text-align: center;
	list-style: none;
	display: inline-block;
	padding: 20px;
}

#skill img{
	height: auto;
	width: 70px;
}
/* ################  Work section ################*/

#work .full-container:nth-child(2){
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.work{
	width: 50%;
	height: 325px;
	margin: 0;
	padding: 0;
	display: inline-block;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

#work .full-container .work .portfolio{
	width: 100%;
	height: 325px;
	background: rgba(222,229,217,255);
	display: inline-block;
	position: relative;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	transition: all 0.8s;
}

#work .full-container .work .ecomerce{
	background-image: url("../img/ecomerce.jpeg");
}

#work .full-container .work .estate{
	background-image: url("../img/estate.jpeg");
}

#work .full-container .work .restaurant{
	background-image: url("../img/restaurant.jpeg");
}

#work .full-container .work .agency{
	background-image: url("../img/agency.jpeg");
}

.portfolio img{
	position: absolute;
	width: 100%;
	height: 325px;
	left: 0;
	top: 0;
}
.portfolio .overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: white;
	opacity: 0.8;
	display: none;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

.work:hover .portfolio .overlay{
	display: block;
}

.work:hover .work .p-one, .work .p-two, .work .p-three, .work .p-four{
	display: inline-block;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}

.link{
	position: absolute;
	bottom: 0;
	left: 20px;
	right: 20px;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}

.link .git, .link .live{
	display: inline-block;
	color: rgb(146,144,129);
}
.portfolio h3{
	position: absolute;
	top: 40%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	margin-top: -20%;
	display: inline-block;
	font-size: 40px;
	color: rgb(108,97,91);
}

