/* landscape mode */
@media screen and (orientation:landscape){
	.pop-up-overlay{
		overflow-y: scroll;
	}
}
@media screen and (orientation:landscape) and (max-height:640px){
	#work .work .name{
		font-size: 7vmin;
		margin-top: 15vmin;
	}
	.view-more{
		font-size: 2vmin;
	}
}
@media screen and (orientation:landscape) and (max-height:460px){
	#work .work .name{
		font-size: 15vmin;
		margin-top: 25vmin;
	}
	.view-more{
		font-size: 2vmin;
	}
}

/* general */
@media screen and (max-width: 1000px){
	#work .work .name{
		font-size: 6vmin;
		margin-top: 7vmin;
	}
	.view-more{
		font-size: 2vmin!important;
	}
}
@media screen and (max-width: 800px){
	#work .work .name{
		font-size: 5vmin;
		margin-top: 7vmin;
	}
}
@media screen and (max-width: 720px){
	#work .work{
		width: 90vw!important;
		height: 50vw!important;
		margin:auto;
	}
	#work .work .pic{
		width: 100%!important;
		height: 100%!important;
		display: block!important;
	}
	.work .name{
		padding-top: 10%!important;
		font-size: 10vmin!important;
		margin-top: 10vmin!important;
	}
	.view-more{
		font-size: 3vmin!important;
	}
  .pop-up-overlay{
		overflow-y: scroll;
	}
	.pop-up{
		margin: 10vh auto!important;
	}
	.pop-up-content{
		display: block!important;
		text-align: center!important;
		margin-top: 7vmin!important;
	}
	.pop-up .img-holder{
		margin: 2vmin auto!important;
		width: 60%!important;
		height: 40vw!important;
	}
	.pop-up .detail{
		text-align: justify!important;
		margin:0!important;
	}
	.pop-up .detail h1{
		text-align: center;
	}
	.info-message{
		flex-direction:column!important;
		height: 70vh!important;
	}
	.info, .message{
		display: block;
		z-index: 1;
	}
	.message{
		width:80%!important;
		margin-top: 20vh;
	}
	.info{
		display: table;
		width: 80%;
		text-align: justify;
	}
	.info li{
		display: table-cell;
		margin: 5vmin;
		padding: 0;
		line-height: 4vmin!important;
		vertical-align: middle;
	}
	.phone-place{
		display: table-cell;
		vertical-align: middle;
	}
	.phone-place li{
		display: table-row;
	}
}

/* Portrait */
@media screen and (orientation: portrait) and (max-width: 1024px) and (max-height:1366px){
	#ui{
		height: 70vmin!important;
	}
}
@media screen and (orientation: portrait) and (max-width:480px){
	body{
		overflow-x: hidden;
	}
	#header-nav li a{
		padding:1vmin!important;
	}
	.info li span{
		margin-left: 0!important;
	}
	.detail-back{
		width:100%!important;
		margin-left: 20vmin!important;
		height: 8vmin;
		margin-top: 1vmin!important;
		background: none!important;
	}
	form{
		display: block!important;
		padding-top: 5vmin;
	}
	form header, form input, form textarea{
		width: 80%;
	}
	form header, form input{
		height: 15%;
		width: 90%!important;
		margin-left: 6px!important;
		margin-right: 6px!important;
	}
	.form-message{
		width: auto!important;
		margin-left: 6px!important;
		margin-right: 6px!important;
	}
	form button{
		display: block;
		margin: auto!important;
		transform: translateX(0)!important;
		-webkit-transform: translateX(0)!important;
		-moz-transform: translateX(0)!important;
	}
}
@media screen and (orientation: portrait) and (max-width:370px){
	#header-nav li a{
		margin: auto 1vmin!important;
		padding:0!important;
		font-size: 4vmin!important;
	}
}
@media screen and (max-width:890px) and (min-height:480px){
  #ui{
    height: 80vmin!important;
	}
	.ui-pro{
		margin-top: 7vmin!important;
	}
	.pop-up-content{
		margin-top: 3vmin!important;
	}
}
