@media screen and (max-width: 720px){
	#work .work{
		display: block;
		width: 100vw;
		height: 80vw;
	}
	.work .name{
		padding-top: 20%;
		font-size: 10vmin !important;
  }
  .pop-up-overlay{
		overflow-y: scroll;
	}
	.pop-up{
		margin: 10vh auto!important;
	}
	.pop-up-content{
		display: block!important;
		text-align: center!important;
		margin-top: 7vmin!important;
	}
	.pop-up .img-holder{
		margin: 2vmin auto!important;
		width: 60%!important;
		height: 40vw!important;
	}
	.pop-up .detail{
		text-align: justify!important;
		margin:0!important;
	}
	.pop-up .detail h1{
		text-align: center;
	}
	.info-message{
		flex-direction:column!important;
		height: 70vh!important;
	}
	.info, .message{
		display: block;
		z-index: 1;
	}
	.message{
		width:80%!important;
		margin-top: 20vh;
	}
	.info{
		display: table;
		width: 80%;
		text-align: justify;
	}
	.info li{
		display: table-cell;
		margin: 5vmin;
		padding: 0;
		line-height: 4vmin!important;
		vertical-align: middle;
	}
	.phone-place{
		display: table-cell;
		vertical-align: middle;
	}
	.phone-place li{
		display: table-row;
	}
}
@media screen and (max-width:857px) and (min-height:480px){
  #ui{
    height: 80vmin!important;
	}
	.ui-pro{
		margin-top: 7vmin!important;
	}
}
