

:root{
	/* Letter */ 
	--letterDarkest: rgb(108,97,91);
	--letterDark: rgb(146,144,129);
	--lightGrey: rgb(224,227,227);
}


/*---------------share------------*/

body{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
  width: 100%; 
}

.container{
	margin-left: 10%;
	margin-right: 10%;
	padding: 100px 0;
}

.small-container{
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px 0;
}
a{
	text-decoration: none;
}
p{
	color: var(--letterDark);
}
.full-container{
	padding: 80px 0; 
}
.full-wrapper{
	padding: 40px 0 0 0;
	position: relative;
}

.half-wrapper{
	width: 50%;
	display: inline-block;
}

.transition{
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.visible{
	opacity:1!important;
}
/*------------nav---------------*/
.container-nav{
	background: rgb(161,167,161);
	padding: 0 15px;
	margin: 0;
	position: fixed;
	top:0;
	left:0;
	right:0;
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	transition: all .8s;
	z-index: 99;
}
/* when scrolled */
.container-nav-white{
	background: white !important;
	z-index: 2;
}
.container-nav-white #logo a{
	color: var(--letterDarkest);
}
.container-nav-white .header-nav li a{
	color: var(--letterDark)!important;
}
nav{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
#logo a{
	text-decoration: none;
	font-size: 20px;
	color: white;
}

#header-nav li{
	display: inline-block;
}
#header-nav li a{
	text-decoration: none;
	padding: 0 10px;
	text-transform: capitalize;
	color: var(--lightGrey);
}

#header-nav li a:hover{
	color: rgb(108,97,91);
}


/* transition */
#header-nav li a, #logo{
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

section{
	background: white;
}

/* ################  home section  ################*/

#home{
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: none;
}
#home .none{
	position: fixed;
	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(222,229,217,255), rgba(232,229,215,255));
	background: -webkit-linear-gradient(rgba(222,229,217,255), rgba(232,229,215,255));
	background: -moz-linear-gradient(rgba(222,229,217,255), rgba(232,229,215,255));
	display: table;
	z-index: -2;
}
#home .intro-container{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	z-index: -2;
}
#home h1{
	font-size: 8vmin;
	color: rgb(108,97,91);
	z-index: -2;
}
#home p{
	color: rgb(146,144,129);
	z-index: -2;
	font-size: 3vmin;
}

/* ################  about me section ################*/

#about .container{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.circle{
	background: rgb(224,227,227);
	border-radius: 50%;
	width: 100px;
	height: 100px;
	text-align: center;
	display: table;
}
.circle div{
	position: relative;
	display: table-cell;
	vertical-align: middle;
	color: rgb(108,97,91);
}
.circle h1 .circle h4{
	display: inline-block;
}
.circle h1{
	position: relative;
	right: 5px;
}
.circle h4{
	position: relative;
	left: 5px;
	bottom: 4px;
	line-height: 5px;
	color: rgb(146,144,129);
}

/* ################  Skill section ################*/


#skill .full-container{
	background: linear-gradient(rgb(200,229,217), rgb(232,229,215));
	background: -webkit-linear-gradient(rgb(200,229,217), rgb(232,229,215));
	background: -moz-linear-gradient(rgb(200,229,217), rgb(232,229,215));
	background-attachment: fixed;
}
.line{
	text-align: center;
	margin: 0;
	padding: 0;
	color: rgb(108,97,91);
	position: relative;
	bottom: 10px;
}
.line h4{
	margin: 0 0 30px 0;
	position: relative;
	display: inline-block;
}

#skill .small-container{
	text-align: center;
}
#skill li{
	text-align: center;
	list-style: none;
	display: inline-block;
	padding: 20px;
}

#skill img{
	height: auto;
	width: 70px;
}
/* ################  Work section ################*/
#work{
	text-align: center;
}
#work .full-container{
	padding: 0;
}
#work .work{
	margin:2vmin;
	padding:0;
	width:40vw;
	height: 23vw;
	display: inline-block;
}
.work .name{
	margin-top: 12vmin;
	font-weight: 300;
	font-size: 7vmin;
	color: var(--letterDarkest);
	cursor: pointer;
}
.work .pic:hover .name{
	color: var(--letterDark);
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
}
.work .view-more{
	font-size: 3vmin;
}
.pic{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width:100%;
	height: 100%;
	display: inline-block;
	position: relative; 
	cursor: pointer;
	box-shadow: 0 0 20px rgba(161,167,161,0.5);
	border-radius: 5px;
}

.work .overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: white;
	opacity: 0;
}
.work:hover .overlay{
	opacity: 0.8;
}
/* ------------------ Ui/UX project -----------*/
.ui{
	margin: 10vmin auto auto auto;
}
#ui{
text-align: center;
height: 40vmin;
background: linear-gradient(rgba(196, 231, 219, 0.5), rgba(223, 221, 211, 0.3));
background: -webkit-linear-gradient(rgba(196, 231, 219, 0.5), rgba(223, 221, 211, 0.3));
background: -moz-linear-gradient(rgba(196, 231, 219, 0.5), rgba(223, 221, 211, 0.3));
background-attachment: fixed;
}
.ui-pro{
	display: inline-block;
	width: 30vmin;
	height: 25vmin;
	margin: 3vmin 2vmin auto 2vmin;
	line-height: 40vmin;
	background-size: cover;
	background-position-x: center;
	border-radius: 5px;
}
.ui-pro:hover{
	opacity: 0.5;
}
.one{
	background-image: url("../img/project/yokai_pet.jpg")!important;
}
.two{
	background-image: url("../img/project/tessa_mock.jpg")!important;
}
.three{
	background-image: url("../img/project/port_mock.jpg")!important;
}
.four{
	background-image: url("../img/project/greatread_mock.jpg")!important;
}
/* ------------  Pop up project detail ----------*/
.pop-up-overlay{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: white;
	z-index: 100;
}
.project-button{
	position: relative;
	width: 100%;
	height: 8vmin;
	margin-top: 2vmin;
}
.project-button button{
	width: 10vmin;
	height: 5vmin;
	font-size: 3vmin;
	background: none;
	outline: none;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
}
.project-button button:hover{
	background: var(--letterDark);
}
.project-button button:hover .left{
	border-right: 15px solid white;
}
.project-button button:hover .right{
	border-left: 15px solid white;
}
.project-button .prev{
	position: absolute;
	bottom: 2vmin;
	left: 5vw;
}
.project-button .next{
	position: absolute;
	bottom: 2vmin;
	right: 5vw;
}
.left{
	width: 0;
	height:0;
	border-top: 2vmin solid transparent;
	border-bottom: 2vmin solid transparent;
	border-left: 2vmin solid transparent;
	border-right: 2vmin solid var(--letterDark);
	margin-right: 2vmin;
}
.right{
		width: 0;
		height:0;
		border-top: 2vmin solid transparent;
		border-bottom: 2vmin solid transparent;
		border-right: 2vmin solid transparent;
		border-left: 2vmin solid var(--letterDark);
		margin-left: 2vmin;
}
.pop-up{
	margin: 5vh 5vw;
}
.pop-up .title{
	font-size: 5vmin;
	color: var(--letterDarkest);
}
.pop-up-content{
	width: 100%;
	height: 100%;
	display: flex;
	margin-top: -2vh;
}
.pop-up .img-holder{
	width: 34vw;
	height: 20vw;
	display: inline-block;
	background: none;
	margin:2vmin;
}
.pro-img{
	width: 100%;
	height: 80%;
	background-size: contain;
	background-position-x: center;
	background-position-y: top;
	background-repeat: no-repeat;
	border-radius: 5px;
	box-shadow: -2px 0 20px rgba(161,167,161,0.5);
}
.detail{
	width: 58vw;
	display: inline-block;
	margin-left: 5vmin;
	padding:0;
	text-align: left;
}
.detail-back{
	width: 60%;
	display: inline-block;
	position: relative;
	background: rgb(108,97,91);
	margin: auto;
}
.detail-back .back{
	position: absolute;
	left:0;
	width: 10%;
	color: grey;
	cursor: pointer;
	border-radius: 10px;
	border: 1px solid grey;
	padding: 0.3vmin 0.8vmin;
}
.back:hover{
	color: var(--lightGrey);
	border: 1px solid white;
	background: var(--letterDark);
}
.pop-up .detail-link{
	width: 40%;
	height: 10%;
	position: relative;
	display: inline-block;
	background: rgb(108,97,91);
	font-size: 3vmin;
	cursor: pointer;
	padding:0;
	margin-bottom: 5%;
}
.pop-up .detail-link a{
	padding: 0.5vmin 1vmin;
	border-radius: 10px;
	color: var(--letterDarkest);
	position: absolute;
	text-decoration: none;
	width: 7vmin;
	height: 3vmin;
}
.pop-up .detail-link a:first-child{
	left:0;
}
.pop-up .detail-link a:nth-child(2){
	right:0;
}
.pop-up .detail-link a:hover{
	color: white;
	background: rgb(192, 190, 176);
}
/* ################  Contact section ################*/
#contact{
	background-color: white;
	background-image: linear-gradient(to bottom, white 50%, rgb(224,227,227) 50%);
	background-image: -webkit-linear-gradient(to bottom, white 50%, rgb(224,227,227) 50%);
	background-image: -moz-linear-gradient(to bottom, white 50%, rgb(224,227,227) 50%);
	padding: 90px 0 100px 0;
	margin-top: -50px;
}

#contact .container{
	display: block;

}
.info-message{
	display: flex;
	height: 30vh;
	width: 100%;
	flex-direction: row;
	margin-top: 30px;
	margin-bottom: 0;
	align-items: center;
}

.info, .message{
	flex:1;
	color: var(--letterDark);
}
.info{
	background-position: 50%;
	margin: 0 10%;
}
.info li span{
	margin-left: 30px;
	text-align: center;
}
.info li{
	line-height: 20px;
	margin: 20px 0;
	list-style: none;
}
.fa-envelope{
	position: relative;
	transform: translateX(-15%);
	-webkit-transform: translateX(-15%);
	-moz-transform: translateX(-15%);
}
/*#contact .back{
	background: var(--lightGrey);
	height: 40vh;
}*/

/*------------------------------ form -------------------*/
.message{
	width: 50%;
	position: relative;
}
form{
	display: grid;
	grid-template-rows: 50px 40px 40px 200px 50px 10px; 
	grid-template-columns: 1fr 1fr;
	text-align: center;
	position: relative;
	margin: 10px 10px;
	border-radius: 5%;
	background: white;
	bottom: 70px;
	box-shadow: 0 0 20px rgba(161,167,161,0.5);
}
.message header{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 1;
	border-radius: 5%;
}
.form-same{
	margin: 6px 10px;
	padding: 0;
	border-radius: 10px;
	text-indent: 10px;
	border: 1px solid var(--lightGrey);;
}
.form-message{
	margin: 10px 10px;
	grid-column: 1/ span 2;
	grid-row: 4;
	min-height: 180px;
	border-radius: 10px;
	text-indent: 10px;
	border-color: var(--lightGrey);
	line-height: 16px;
	min-width: 90%;
	resize: none;
}
#contact button{
	width: 70px;
	height: 30px;
	grid-row: 5;
	grid-column: 2;
	transform: translateX(-35px);
	margin: 5px 10px;
	border-radius: 10px;
	background: rgb(161,167,161);
}
#contact a{
	color: var(--lightGrey);
	text-decoration: none;
}
#contact #submit{
	display: block;
}
#contact button, #contact a{
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
#contact button:hover{
	background: var(--lightGrey);
}
#contact button:hover a{
	color: var(--letterDark);
	opacity: 0.5;
}
.form-same:focus, .form-message:focus, button:focus{
	outline: none;
	opacity: 0.5;
}
.thanks{
	display: block;
	text-align: center;
	grid-row: 6;
	grid-column: 1/ span 2;
	opacity: 0;
}
/*---------------------------------------- Footer. ---------------------------------------*/

footer{
	text-align: center;
	background: rgb(161,167,161);
	color: white;
	padding: 10px 0;
	margin:0;
	bottom: 0;
	left:0;
	right:0;
	height: 5vmin;
	opacity: 0.7;
}
footer h6{
	padding: 0;
	margin:0;
	font-weight: 100;
	font-size: 2vmin;
	line-height: 5vmin;
}





